Source/V7/PalettePicker/bin/
Source/V7/PalettePicker/obj/
Source/V7/PalettePicker.Web/*
!Source/V7/PalettePicker.Web/App_Plugins/Vizioz.PalettePicker/
Source/V7/.vs/
Source/V7/packages/
Source/V7/PalettePicker.V7.sln

Source/V8/PalettePicker/bin/
Source/V8/PalettePicker/obj/
Source/V8/PalettePicker.Web/*
!Source/V8/PalettePicker.Web/App_Plugins/Vizioz.PalettePicker/
Source/V8/.vs/
Source/V8/packages/
Source/V8/PalettePicker.V8.sln

nuget.exe
