/* Palette prevalue picker */
.palette-value-picker-container .umb-pane {
    display: flex;
}

.palette-value-picker-container .help-text {
    font-size: 14px;
    color: #a2a1a6;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    font-weight: 400;
}

.palette-value-picker textarea {
    width: 100%;
}

@media (max-width: 767px) {
    .palette-picker-editor table td, .palette-picker-editor table th {
        padding-left: 4px;
        padding-right: 4px;
    }
}

/* Palette preview */
.palette-preview {
    display: block;
    padding: 10px;
}

    .palette-preview .colorset .colorset-title {
        font-size: 12px;
    }

.palette-preview .colorset .colorset-colors {
    display: block;
    width: 100%;
    position: relative;
    min-height: 45px;
    padding-bottom: 8px;
    box-sizing: content-box;
}

    .palette-preview .colorset .colorset-colors.has-labels {
        min-height: 70px;
    }

    .palette-preview .colorset .colorset-colors .color-block {
        display: block;
        position: absolute;
        top: 0;
    }

        .palette-preview .colorset .colorset-colors .color-block.selectable {
            cursor: pointer;
        }

        .palette-preview .colorset .colorset-colors .color-block.selected:after {
            content: "";
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            z-index: 9;
            pointer-events: none;
            border: 3px solid #6ab4f0;
            border-radius: 5px;
        }

        .palette-preview .colorset .colorset-colors .color-block .check_circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
        }
            
        .palette-preview .colorset .colorset-colors .color-block .spectrum-color-picker + .sp-replacer {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 42px;
            border: 1px solid black;
            box-sizing: border-box;
        }

            .palette-preview .colorset .colorset-colors .color-block .spectrum-color-picker + .sp-replacer .sp-preview {
                width: calc(100% - 20px);
                height: 100%;
            }

            .palette-preview .colorset .colorset-colors .color-block .spectrum-color-picker + .sp-replacer + .color-block-color {
                display: none;
            }

            .palette-preview .colorset .colorset-colors .color-block .spectrum-color-picker + .sp-replacer + .color-block-color + .color-block-desc {
                position: relative;
                bottom: -42px;
            }

            .palette-preview .colorset .colorset-colors .color-block .umb-tooltip {
                text-align: center;
            }

    .palette-preview .colorset .colorset-colors .color-block-color {
        display: block;
        height: 40px;
        width: 100%;
        border: 1px solid black;
    }

    .palette-preview .colorset .colorset-colors .color-block .color-block-color:focus {
        outline: none;
    }

.palette-preview .colorset .colorset-colors .color-block-desc {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 10px;
            line-height: 10px;
            padding: 5px 0;
        }

.palette-editor-preview .paletton-preview .colorset .colorset-colors .color-block-desc {
    font-size: 9px;
    line-height: 9px;
}

.palette-params {
    margin-bottom: 20px;
    border-bottom: 1px solid #bbbabf;
}

.palette-preview-param {
    padding: 10px;
    display: block;
}

.palette-preview-param label {
    display: inline-block;
    position: relative;
    width: 120px;
    float: left;
}

    .palette-preview-param label .umb-tooltip {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        max-width: 200px !important;
        width: 200px !important;
    }

.palette-preview-param .controls {
    margin-left: 125px;
    display: block;
}

.palette-preview-param .controls input {
    display: block;
    width: 100%;
}

@media (max-width: 575px) {
    .palette-preview .colorset .colorset-colors .color-block-desc {
        display: none;
    }
}

/* Palette picker */
.palette-item {
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

    .palette-item:hover {
        color: #1b264f;
        background: #fafafa;
    }

    .palette-item.selected {
        color: #1b264f;
    }

    .palette-item.selected::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        border: 1px solid #f5c1bc;
        border-radius: 5px;
        box-shadow: 0 0 2px 0 #e86f63, inset 0 0 2px 0 #e86f63;
        pointer-events: none;
    }

.palette-checkbox {
    display: block;
    width: 100%;
}

    .palette-checkbox input[type=radio], .paletton-checkbox input[type=checkbox] {
        display: none;
    }

.palette-value-picker-dialog .umb-tooltip {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

/***/
.palette-property {
    display: block;
    width: 100%;
}