
//
// VARIABLES
//

// Colors
$black: #000;
$white: #fff;

// Primary color
$color-primary-1: #a7c1db;
$color-primary-2: #7eb0e1;
$color-primary-0: #4183C4;
$color-primary-3: #234261;
$color-primary-4: #052748;

// Secondary color
$color-secondary-1: #eee;
$color-secondary-2: #999;
$color-secondary-0: #666;
$color-secondary-3: #333;
$color-secondary-4: #222;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$font-family-native: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Mobile breakpoints
@mixin tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}
