
//
// VARIABLES
//

// Colors
$black: #000;
$white: #fff;

// Primary color
$color-primary-0: #424953;
$color-primary-1: #7B818B;
$color-primary-2: #5B636D;
$color-primary-3: #24282F;
$color-primary-4: #18212D;

// Secondary color
$color-complement-0: #F6892C;
$color-complement-1: #FFB97D;
$color-complement-2: #FFA354;
$color-complement-3: #D3670A;
$color-complement-4: #A64D00;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$font-family-native: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Mobile breakpoints
@mixin tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}
