<div ng-controller="Vizioz.PalettePicker.EditorPrevalueController as vm">
    <umb-editor-view>

        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>
        
        <umb-editor-container class="palette-value-picker-container">
            <umb-box>
                <umb-box-content>
                    <div class="umb-control-group palette-value-picker" ng-if="error">
                        <div ng-bind="error" class="alert alert-error"></div>
                    </div>
                    <div class="umb-control-group palette-value-picker">
                        <label for="palette-provider">
                            <span>Provider</span>
                        </label>
                        <div class="controls">
                            <select ng-model="vm.selectedProvider" ng-options="provider as provider.name for provider in providers" ng-change="vm.selectProvider(vm.selectedProvider)" id="palette-provic"></select>
                        </div>
                    </div>
                    <div class="umb-control-group palette-value-picker" ng-if="vm.selectedProvider">
                        <label for="palette-provider">
                            <span>Palette Value</span>
                        </label>
                        <div class="controls">
                            <palette-provider model="editModel" provider-view="template" on-change="vm.onChange(model)"></palette-provider>
                        </div>
                    </div>
                    <div class="umb-control-group palette-value-picker" ng-if="vm.selectedProvider">
                        <label for="palette-provider">
                            <span>Preview</span>
                        </label>
                        <div class="controls">
                            <div class="palette-value-picker palette-editor-preview">
                                <palette-preview value="editModel.palette" editable="isEditable"></palette-preview>
                            </div>
                        </div>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="action"
                            label-key="general_submit"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>