<div ng-controller="Vizioz.PalettePicker.Controller as vm">
    <div>
        <a class="umb-node-preview-add" href="" ng-click="vm.edit()">
            <div ng-if="!model.value">
                <localize key="general_add" class="ng-isolate-scope">Add</localize>
            </div>
            <div class="palette-property" ng-if="model.value">
                <div class="palette-preview" ng-if="model.value.prefix || model.value.parentClass" style="padding-bottom: 0;">
                    <div class="colorset" ng-if="model.value.prefix">
                        <div class="colorset-title">Prefix: <span>.{{model.value.prefix}}-</span></div>
                    </div>
                    <div class="colorset" ng-if="model.value.parentClass">
                        <div class="colorset-title">Parent Class: <span>.{{model.value.parentClass}} </span></div>
                    </div>
                </div>
                <palette-preview value="model.value.palette" hide-labels="true"></palette-preview>
            </div>
        </a>
    </div>
    <div ng-if="model.value">
        <a class="umb-node-preview__action umb-node-preview__action--red" title="Remove" ng-click="vm.remove()">
            <localize key="general_remove">Remove</localize>
        </a>
    </div>
</div>