---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html, body {
	height: 100%;
}
html {
  font-size: 100%;
}

body {
	background: $color-secondary-1;
  font: 18px/1.4 $font-family-native;
  color: $color-secondary-3;
	display: flex;
	flex-direction: column;
}

#main {
	flex: 1 0 auto;
}

#foot{
	flex-shrink: 0;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}

.body-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-side-bar {
  display: flex;

  .side-bar {
  flex: 1 0 auto !important;
  width: 250px;
  padding: 30px 0 20px;
  color: $color-secondary-0;
  font-size: 15px;
  position: relative;

  a {
    color: $color-secondary-0;
  }

  .side-bar-nav {
    margin-right: 40px;
    width: 210px;
	  
    @include tablet {
      margin-right: 20px;
      width: 190px;
    }
  }

  .nav-section {
    padding-left: 6px;
    margin: 0;
    list-style: none;
  }

  .side-link {
    display: block;
    padding: 8px 40px 8px 0;
    border-right: 4px solid $color-secondary-2;
    font-weight: 600;

		&.main-link {
			text-transform: uppercase;
			font-weight: 700;
		}
  }
	
  @include tablet {
    width: 210px;
  }
	
  @include mobile {
    display: none;
  }
}

  .main-content {
    flex: 0 1 auto !important;
    width: calc(100% - 250px);
	  
	  @include tablet {
	    width: calc(100% - 210px);
	  }

	  @include mobile {
	    display: none;
	  }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-native;
  color: $color-secondary-4;
  font-weight: bold;
position: relative;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 15px 0;
}

a {
  color: $color-primary-0;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $color-primary-0;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 40px;

	h1, h2, h3, h4, h5, h6 {
		margin-left: -14px;
	}
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

em {
	color: $color-primary-3;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

hr {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

table {

	font-size: 0.8em;

	tr {
		border: 1px solid $color-secondary-2;
	}

	td, th {
    padding: 5px 10px;
	}
}

.bold {
  font-weight: 600 !important;
}

.bolder {
  font-weight: 900 !important;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $color-secondary-0;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $color-secondary-2;
}
::selection {
  color: $black;
  background: $color-secondary-2;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.masthead {
  padding: 20px 0;
  border-bottom: 2px solid $color-secondary-0;
  background-color: $color-primary-1;
  box-shadow: 0 2px 5px $color-secondary-2;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include tablet {
    float: none;
    display: inline-block;
    margin: 0 auto;
		width: 50px;
	  height: 50px;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  display: inline-block;
  margin-top: 20px;
  color: $color-primary-3;
  cursor: pointer;
  font-family: $font-family-native;
  font-weight: bolder;
  font-size: 34px;
  letter-spacing: -2px;
	vertical-align: top;

	@include tablet {
    font-size: 28px;
    margin-top: 10px;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $color-secondary-0;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 35px; // @TODO: Vertically middle align
  font-family: $font-family-native;
  font-size: 18px;

	@include tablet {
    margin-top: 22px;
  }

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $color-secondary-3;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    &:hover {
      color: $color-primary-3;
    }

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.body-title {
  border-bottom: 1px solid $color-secondary-2;
  padding: 20px 0;
  color: $color-primary-3;
box-shadow: 0 1px 2px $color-secondary-2;

	@include tablet {
		padding: 2px 0;
	}

	@include mobile {
		text-align: center;

		h1 {
			margin: 10px 0;
		}
	}
}

.video {
  position: relative;
  min-width: 100%;
  padding-top: 57.5%;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  margin: 20px 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $color-secondary-2;
  background-color: $color-secondary-1;
}

footer {
  padding: 20px 0;
  text-align: center;
box-shadow: 0 -2px 5px #999;

  .footer-top {
    padding: 30px 0;
  }

  .footer-bottom {
    border-top: 1px solid $color-secondary-3;
    background-color: $color-secondary-2;
    padding: 30px 0;
    font-size: 12px;
    color: $black;
  }
}

.img-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "svg-icons";
